.gettoknow-section {
    padding: 150px 0px;
    background: linear-gradient(196.98deg, #013b49 9.3%, #1bc2cb 84.62%);
    /* backdrop-filter: blur(10px); */
    border-radius: 0px 375px 0px 275px;
  }