@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

.home-page {
  /* background: linear-gradient(
    145deg,
    rgb(38, 29, 66) 0%,
     rgb(42, 30, 56) 20%,
     rgb(54, 37, 64) 40%,
    rgb(66, 46, 78) 60%,
   rgb(26, 73, 70) 80%,
     rgb(40, 95, 101) 100% 
  ); */
  background: linear-gradient(
    45deg,
    #05161e,
    #0c2c3c,
    #143e4d,
    #201a38,
    #0a1a28
  );
  backdrop-filter: blur(10px);
}

.hero-section {
  height: 160vh;

  position: relative;
  /* Position relative for ::before and ::after positioning */
}

.image1 {
  position: absolute;
  top: 350px;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

.image2 {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -10;
}

.image3 {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -10;
}

.image4 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

.image5 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 1281.53px;
  height: 996.63px;
  overflow: hidden;
  z-index: -10;
  filter: blur(20px);
}

.image6 {
  position: absolute;
  top: 440px;
  left: 100px;
  width: 581.53px;
  height: 396.63px;
  overflow: hidden;
  z-index: -10;
  filter: blur(20px);
  transform: rotate(-180deg);
}

.image7 {
  position: absolute;
  top: 0;
  left: 250px;
  overflow: hidden;
  z-index: 100;
}

.creativityText {
  position: absolute;
  top: 180px;
}

.excellenceText {
  position: absolute;
  top: 540px;
}

.hero-section-heading {
  top: 500px;
  left: 150px;
  position: absolute;
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 105px;
  line-height: 99px;
  z-index: 10000;
  width: 70%;
  text-transform: uppercase;
}

.hero-section-description {
  top: 500px;
  right: 80px;
  position: absolute;
  color: white;
  font-size: 18px;
  z-index: 10000;
  width: 20%;
  text-align: justify;
}

.hero-section-buttons {
  top: 700px;
  right: 250px;

  position: absolute;
}

.logoBars {
  top: 1100px;
  right: 0;
  position: absolute;
}

/* -webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #00FFFF; */

.home-video-section {
  position: relative;
  height: 120vh;
}

.video-bg-image1 {
  position: absolute;
  width: 800px;
  left: 620px;
  top: 50px;
}

.video-bg-image2 {
  position: absolute;
  width: 800px;
  left: 250px;
  top: 180px;
}

.show-reels {
  font-size: 480px;
  text-transform: uppercase;
  position: absolute;
  left: -80px;
  top: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #00ffff;
  font-family: "Teko";
  /* letter-spacing: 2.5rem; */
}

.homeVideo {
  position: absolute;
  top: 280px;
  left: 400px;
}

.video-container {
  position: relative;
  border-radius: 40px;
  width: 850px; /* Set your desired width */
  height: 470px; /* Set your desired height */
  overflow: hidden;
  border: 15px solid #05133786; /* Border color */
  backdrop-filter: blur(20px); /* Apply blur effect to content behind */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Adjust opacity for the glassmorphism effect */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure video covers the container */
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button::after {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent white;
}

/* Hide default controls */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

.spectular-service-section {
  font-family: "Teko";
  /* border: 1px solid red; */
}

.spectular-bg-image {
  filter: blur(50px);
}

.spectular-text {
  font-size: 410px;
  text-transform: uppercase;
  position: absolute;
  left: 120px;
  top: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #00ffff;
  font-family: "Teko";
  /* letter-spacing: 4.5rem; */
}
.spectularImage {
  position: absolute;
  top: 110px;
  left: 330px;
}
.spectularBackground {
  position: absolute;
  top: -7.5%;
  right: 2%;
}
.spectularBackground img {
  width: 1200px;
  height: 1000px;
}

.image-container {
  position: relative;
  border-radius: 40px;
  width: 1050px;
  height: 650px;
  overflow: hidden;
  border: 15px solid #0513375a; /* Border color */
  backdrop-filter: blur(20px); /* Apply blur effect to content behind */
  background: rgba(5, 19, 55, 0.4);
}

.image-container img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px; /* Match the border radius of the container */
}

.spectular-services {
  position: absolute;
  top: 850px;
}

.scrollbar-hide {
  /* Chrome, Safari, Edge */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.bar {
  margin-top: 20px;
  width: 700px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  border-radius: 50px;
  /* border: 1px solid #2EABAF; */
  background: linear-gradient(to right, #2eabaf 40%, gray 40%);
}

/* ---------- Service Page Styling ------------- */
.service-top-section {
  height: 150vh;

  background: linear-gradient(
    120deg,
    #05161e,
    #0c2c3c,
    #143e4d,
    #201a38,
    #0a1a28
  );

  backdrop-filter: blur(10px);
  position: relative;
}

.service-hero-section {
  padding: 80px;
  display: flex;
}
.service-hero-img {
  position: relative;
}
.side-image {
  overflow: hidden;
  z-index: 1000;
  /* position: relative; */
}
.video-img {
  position: absolute;
  top: 200;
  border-radius: 20px;
}
.service-hero-heading {
  color: #ffffff;
  font-family: "Teko", sans-serif;
  font-size: 70px;
  line-height: 99px;
  z-index: 10000;
  width: 90%;
  text-transform: uppercase;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-list span {
  color: #00ffff;
  padding: 12px;
  display: flex;
}

/* home-page-portfolio */

.home-page-portfolio {
  background: linear-gradient(-120deg, #013b49, #0a8c93, #08d4e6e4);
  border-radius: 0px 375px 0px 375px;
}

.video-container-portfolio {
  position: relative;
  border-radius: 20px;
  width: 450px;
  height: 275px;
  overflow: hidden;
}

.video-container-portfolio video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* homepage-testimonal */

.video-container-testimonal{
  position: relative;
  border-radius: 40px;
  width: 550px;
  height: 380px;
  overflow: hidden;
  border: 4px solid #15B8C7; 
  padding: 30px 30px 80px 30px;
}

.video-container-testimonal video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
