@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

.home-page {
  /* background: linear-gradient(
    145deg,
    rgb(38, 29, 66) 0%,
     rgb(42, 30, 56) 20%,
     rgb(54, 37, 64) 40%,
    rgb(66, 46, 78) 60%,
   rgb(26, 73, 70) 80%,
     rgb(40, 95, 101) 100% 
  ); */
  background: linear-gradient(
    45deg,
    #05161e,
    #0c2c3c,
    #143e4d,
    #201a38,
    #0a1a28
  );
  backdrop-filter: blur(10px);
}

.hero-section {
  height: 160vh;

  position: relative;
  /* Position relative for ::before and ::after positioning */
}

.image1 {
  position: absolute;
  top: 350px;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

.image2 {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -10;
}

.image3 {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -10;
}

.image4 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

.image5 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 1281.53px;
  height: 996.63px;
  overflow: hidden;
  z-index: -10;
  filter: blur(20px);
}

.image6 {
  position: absolute;
  top: 440px;
  left: 100px;
  width: 581.53px;
  height: 396.63px;
  overflow: hidden;
  z-index: -10;
  filter: blur(20px);
  transform: rotate(-180deg);
}

.image7 {
  position: absolute;
  top: 0;
  left: 250px;
  overflow: hidden;
  z-index: 100;
}

.creativityText {
  position: absolute;
  top: 180px;
}

.excellenceText {
  position: absolute;
  top: 540px;
}

.hero-section-heading {
  top: 500px;
  left: 150px;
  position: absolute;
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 105px;
  line-height: 99px;
  z-index: 10000;
  width: 70%;
  text-transform: uppercase;
}

.hero-section-description {
  top: 500px;
  right: 80px;
  position: absolute;
  color: white;
  font-size: 18px;
  z-index: 10000;
  width: 20%;
  text-align: justify;
}

.hero-section-buttons {
  top: 700px;
  right: 250px;

  position: absolute;
}

.logoBars {
  top: 1100px;
  right: 0;
  position: absolute;
}

/* -webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #00FFFF; */

.home-video-section {
  position: relative;
  height: 120vh;
}

.video-bg-image1 {
  position: absolute;
  width: 800px;
  left: 620px;
  top: 50px;
}

.video-bg-image2 {
  position: absolute;
  width: 800px;
  left: 250px;
  top: 180px;
}

.show-reels {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #00ffff;
  opacity: 0.5;
}

.homeVideo {
  position: absolute;
  top: 280px;
  left: 400px;
}

.video-container {
  position: relative;
  border-radius: 40px;
  width: 850px; /* Set your desired width */
  height: 470px; /* Set your desired height */
  overflow: hidden;
  border: 15px solid #05133786; /* Border color */
  backdrop-filter: blur(20px); /* Apply blur effect to content behind */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Adjust opacity for the glassmorphism effect */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure video covers the container */
}

.video-container2 {
  position: relative;
  border-radius: 60px;
  width: 500px; 
  height: 300px;
  overflow: hidden;
  
  backdrop-filter: blur(20px); 
  
}

.video-container2 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button::after {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent white;
}


.pause-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-button::after {
  content: "";
  width: 20px;
  height: 40px;
  background-color: white;
  margin: 0 10px;
}

.pause-button::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: white;
  margin: 0 10px;
}

/* Hide default controls */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

.spectular-service-section {
  font-family: "Teko";
  /* border: 1px solid red; */
}

.spectular-bg-image {
  filter: blur(50px);
}

.spectular-text {
  font-size: 410px;
  text-transform: uppercase;
  position: absolute;
  left: 120px;
  top: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #00ffff;
  font-family: "Teko";
  opacity: 0.5;
  /* letter-spacing: 4.5rem; */
}
.spectularImage {
  position: absolute;
  inset: -22% 0 0 0;
}

.image-container {
  border-radius: 40px;
  border: 15px solid #0513375a;
  backdrop-filter: blur(20px);
  background: rgba(5, 19, 55, 0.4);
}

.spectular-services {
  position: absolute;
  inset: 0;
}

.scrollbar-hide {
  /* Chrome, Safari, Edge */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.bar {
  margin-top: 20px;
  width: 700px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  border-radius: 50px;
  /* border: 1px solid #2EABAF; */
  background: linear-gradient(to right, #2eabaf 40%, gray 40%);
}

/* home-page-portfolio */

.home-page-portfolio {
  background: linear-gradient(-120deg, #013b49, #0a8c93, #08d4e6e4);
  border-radius: 0px 375px 0px 375px;
}

.video-container-portfolio {
  position: relative;
  border-radius: 20px;
  width: 450px;
  height: 275px;
  overflow: hidden;
}

.video-container-portfolio video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* homepage-testimonal */

.video-container-testimonal {
  position: relative;
  border-radius: 40px;
  width: 550px;
  height: 380px;
  overflow: hidden;
  border: 4px solid #15b8c7;
  padding: 30px 30px 80px 30px;
}

.video-container-testimonal video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .hero-section {
    padding: 7.5rem 20px 0 20px;
    height: auto;
  }
  .hero-section-heading {
    top: auto;
    left: auto;
    right: 0;
    position: relative;
    font-size: 48px;
    line-height: 1.2;
    width: 100%;
  }

  .hero-section-description {
    top: auto;
    right: auto;
    left: 0;
    position: relative;
    font-size: 14px;
    width: 100%;
    text-align: justify;
  }

  .hero-section-buttons {
    top: auto;
    right: auto;
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .home-video-section {
    position: relative;
    height: 40vh;
  }

  .video-container {
    width: 80%;
    height: auto;
    border-radius: 20px;
    border-width: 10px;
  }

  .video-container video {
    border-radius: 20px;
  }

  .play-button {
    width: 60px;
    height: 60px;
  }

  .play-button::after {
    border-width: 10px 0 10px 20px;
  }

  .video-bg-image1 {
    display: none;
  }

  .video-bg-image2 {
    display: none;
  }

  .spectular-text {
    font-size: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
  }

  .spectular-bg-image {
    visibility: hidden;
  }

  .spectularImage {
    position: absolute;
    inset: -5% 0 0 0;
  }
  .bar {
    width: 80%; /* Adjust width for mobile screens */
    height: 10px; /* Adjust height for mobile screens */
  }

  .home-page-portfolio {
    border-radius: 0px 400px 0px 400px;
  }

  .video-container-testimonal {
    width: auto; /* Remove fixed width */
    max-width: 100%; /* Ensure it doesn't overflow its container */
    height: auto; /* Remove fixed height */
    padding: 0.5rem 0.5rem 1.5rem 0.5rem; /* Adjust padding */
    border: 4px solid #15b8c7;
    overflow: hidden;
  }
}

/* ---------- Service Page Styling ------------- */
.service-page {
  background: linear-gradient(
    45deg,
    #05161e,
    #0c2c3c,
    #143e4d,
    #201a38,
    #0a1a28
  );
  backdrop-filter: blur(10px);
}
.service-top-section {
  height: 120vh;
  position: relative;
}

.service-hero-section {
  padding: 40px 0px;
  display: flex;
}

.service-hero-left-part {
  padding: 160px 100px;
}

.service-hero-img {
  position: relative;
  /* height: 120vh; */
}
.side-image {
  overflow: hidden;
  z-index: 1000;
}
.service-hero-heading {
  color: #ffffff;
  font-family: "Teko", sans-serif;
  font-size: 70px;
  line-height: 99px;
  z-index: 10000;
  width: 100%;
  text-transform: uppercase;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.services-list span {
  color: #00ffff;
  padding: 12px;
  display: flex;
}

.service-video {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: auto;
  max-width: 500px; /* Limit maximum width */
  margin: 0 auto; /* Center the video horizontally */
  overflow: hidden;
  border: 10px solid #05133786;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.2);
}

.service-video-section {
  position: relative;
  /* height: 120vh; */
  padding: 50px 20px;
}

.service-video-img {
  position: absolute;
  top: 30%;
  left: 20%;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon::after {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent white;
}

.solutionText {
  position: absolute;
  top: 455px;
}

.logoBars-service {
  top: 800px;
  right: 0;
  position: absolute;
}

.service-hero-buttons {
  padding: 60px 0 0 0;
}

.solution-section {
  padding: 90px 260px;
}
.solution-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution-heading {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 70px;
  line-height: 99px;
  z-index: 10000;
  text-transform: uppercase;
}
.sol-desc {
  color: white;
  font-size: 14px;
  line-height: 99px;
  z-index: 10000;
  margin-left: 20px;
}
.solution-cards {
  padding: 0 250px;
  margin: auto;
}

.calendar-section {
  padding: 80px 180px;
}
.calendar-container {
  border-radius: 30px;
  background-color: #15b8c7;
  padding: 20px;
  display: flex;
}

.calendar-content {
  padding: 40px;
  width: 65%;
}
.bookCallText {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 70px;
  line-height: 99px;
  z-index: 10000;
  text-transform: uppercase;
}
.nextStepText {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 33px;
  line-height: 48px;
  font-weight: 400;
}
.mainText {
  color: white;
  margin-top: 18px;
  font-family: "Rubik", sans-serif;
}

.calendar {
  padding: 0 0 0 40px;
}

.rates-section {
  padding: 80px 200px;
  background: linear-gradient(196.98deg, #013b49 9.3%, #1bc2cb 84.62%);
  /* backdrop-filter: blur(10px); */
  border-radius: 0px 375px 0px 275px;
}
.rates-top {
  text-align: center;
  /* display: flex; */
}
.rate-heading {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 90px;
  line-height: 99px;
  z-index: 10000;
  text-transform: uppercase;
}
.rates-video {
  padding: 30px 0 20px 0;
}
.ser-rates-video {
  position: relative;
  border-radius: 40px;
  margin: auto;
  width: 500px;
  height: 320px;
  overflow: hidden;
  border: 15px solid #05133786;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.2);
}
.rates-count {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}
.rate-count-content {
  padding: 10px;
  text-align: center;
  width: 170px;
}
.count-head {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 30px;
  line-height: 25px;
  font-weight: 200;
  z-index: 10000;
  text-transform: uppercase;
}
.count-nmbr {
  color: #00ffff;
  font-family: "Teko", sans-serif;
  font-size: 60px;
  line-height: 70px;
  font-weight: 100;
  z-index: 10000;
  text-transform: uppercase;
}
.count-text {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.countDesc {
  color: #0b1a28;
  font-style: italic;
  font-size: 30px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
.third-count-content {
  padding: 20px 100px;
}

.service-benefits-section {
  padding: 0 100px;
}
.benefits-container {
  color: white;
}
.benefits-desc-list {
  font-family: "Teko", sans-serif;
  display: flex;
  justify-content: space-between;
}
.benefit-head {
  margin-bottom: 20px;
  font-weight: 500;
}
.descText {
  display: flex;
}
.descText h5 {
  font-weight: 400;
  font-size: 18px;
}
.descText p {
  font-weight: 300;
}

.save-time-section {
  padding: 0 100px;
  border-radius: 0 375px 0px 275px;
  background: linear-gradient(
    45deg,
    #05161e,
    #0c2c3c,
    #143e4d,
    #201a38,
    #0a1a28
  );
}

.serviceRateSection {
  padding: 140px 100px 50px 100px;
}

.save-time-head {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 105px;
  line-height: 99px;
  z-index: 10000;
  width: 70%;
  text-transform: uppercase;
}
.time-save {
  color: white;
}
.time {
  border: 1px solid #15b8c7;
  border-radius: 100px;
  padding: 2px 17px;
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: #0b1a28;
  font-size: 14px;
}
.ser-vector-set {
  height: 15px;
}
.time-content {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  padding: 10px 45px 0 0;
  font-size: 18px;
  line-height: 26.64px;
}
.dividerStyle {
  /* width: 90%; */
  align-items: center;
}

.rate-bottom-content {
  text-align: center;
  padding: 40px 100px;
}
.rate-bottom-content-heading {
  padding: 10px 90px;
  font-size: 47px;
  font-weight: 300;
}
.rate-bottom-content-para {
  color: white;
  font-weight: 300;
  padding: 10px 80px;
  line-height: 26.64px;
  font-size: 18px;
}
.rate-desc {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 40px 100px;
  color: white;
  font-size: 19px;
  font-weight: 300;
}
.rate-desc-list {
  margin: 0 20px;
}
.rate-desc-list li {
  list-style: none;
  display: flex;
  /* align-items: center; */
}
.rate-button {
  display: flex;
  justify-content: center;
  padding: 84px 0;
}

.how-it-works-category {
  display: flex;
  justify-content: space-between;
}
.how-it-work-heading {
  padding: 50px 90px;
  font-size: 87px;
  font-weight: 300;
}

.ser-work-sec {
  padding: 30px 100px;
}
.work-category {
  color: white;
  width: 30%;
}

.work-icon {
  display: flex;
  /* position: absolute;
  top: 200; */
}
.round-circle {
  /* border-radius: 100px; */
  /* background-color: white; */
  color: #15b8c7;
}
.how-work-btn {
  padding: 100px 0;
  text-align: center;
}
.how-work-btn-style {
  background: linear-gradient(100deg, #15b8c7, #8ce1ec);
  color: #273a5f;
  font-weight: 500;
  font-size: 14px;
}
.work-card-head {
  /* color: linear-gradient(100deg, #56bec2, #15b8c7); */
  color: #00ffff;
  font-weight: 400;
  font-size: 37px;
  margin-top: 9px;
  line-height: 37px;
  width: 80%;
}
.service-video-portfolio {
  position: relative;
  width: 400px;
  height: 245px;
  overflow: hidden;
}

.service-video-portfolio video {
  border-radius: 20px;
  width: 94%;
  height: 100%;
  object-fit: cover;
}
/* Faq */

.faq {
  background: linear-gradient(-120deg, #013b49, #0a8c93, #08d4e6e4);
  border-radius: 0px 375px 0px 375px;
}

@media (max-width: 767px) {
  .service-top-section {
    height: auto;
  }

  .service-hero-left-part {
    padding: 50px 20px;
  }

  .service-hero-heading {
    font-size: 40px;
    line-height: 40px;
  }
  .services-list span {
    padding: 12px 12px 12px 0px;
  }
  .solutionText {
    position: absolute;
    top: 340px;
  }

  .side-image {
    display: none;
  }

  .service-video-section {
    padding: 0px 0px 0px 0px;
  }

  .service-video-img {
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .service-video {
    height: 250px;
    max-width: 400px;
  }

  .solution-cards {
    padding: 10px 10px;
  }

  .rates-section {
    padding: 200px 20px 150px 20px;
  }
  .save-time-section {
    padding: 0 0px;
  }
  .serviceRateSection {
    padding: 170px 20px 50px 20px;
  }

  .rate-bottom-content {
    padding: 10px 20px;
  }

  .rate-desc {
    padding: 10px 10px;
  }
  .rate-button {
    padding: 40px 0;
  }
  .work-category {
    color: white;
    width: 90%;
  }
  .how-work-btn {
    padding: 30px 0;
  }
}

.promotional-section {
  padding: 80px 0;
  background: linear-gradient(196.98deg, #013b49 9.3%, #29b6bd 84.62%);
  /* backdrop-filter: blur(10px); */
  border-radius: 0px 375px 0px 275px;
}

.navlinks:hover .dropdown {
  display: block;
}

.contact-us-from {
  /* From https://css.glass */
  background: rgba(11, 26, 40, 0.5019607843137255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffff;

  /* background: 
    linear-gradient(to top, rgba(17, 33, 64, 0.9), rgba(17, 33, 64)) padding-box,
    linear-gradient(to bottom, #ffffff, rgba(21, 184, 199, 0)) border-box;
  border-radius: 30px;
  border: 1px solid transparent; */
}

.contact-us-page {
  background: linear-gradient(
    30deg,
    #05161e,
    #0c2c3c,
    #143e4d,
    #201a38,
    #05161e
  );
  backdrop-filter: blur(10px);
}

.contact-us-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #00ffff;
  opacity: 0.5;
  letter-spacing: 2.5rem;
}

<<<<<<< HEAD



.footer-text{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #00ffff;
  opacity: 0.25;
  letter-spacing: 2.5rem;
}

.letstalk{
  
    padding: 150px 0px;
    background: linear-gradient(196.98deg, #013b49 9.3%, #1bc2cb 84.62%);
    /* backdrop-filter: blur(10px); */
    border-radius: 0px 375px 0px 275px;
  
}



@media (max-width: 767px) {
  .letstalk{
  
    padding: 250px 0px;
  
  
}

.video-container2 {
  
  width: 400px; 
  height: 260px;
 
  
}


}


=======
>>>>>>> origin/Basit-Ali
.border-setting {
  background: linear-gradient(#0b1a28, #0b1a28) padding-box,
    linear-gradient(to bottom, #ffffff, #0b1a28) border-box;
  border-radius: 10px;
  border: 1px solid transparent;
}
<<<<<<< HEAD




=======
>>>>>>> origin/Basit-Ali
